nav {
  background-color: transparent;
  position: absolute;
  right: 0;
  padding: 20px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.logo {
  display: inline-block;
  margin-bottom: 0;
}
.logo > img {
  width: 40px;
  height: 40px;
}

.burger-menu {
  display: inline-block;
  width: 15px;
  height: 20px;
  /* margin-left: 10px; */
  background-image: url("../../assets/Icons/burguer-menu.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.offcanvas {
  background-color: #2f52a0;
  padding: 20px;
}

.modal-backdrop.show {
  background-color: #17284f;
  opacity: 1;
}

.offcanvas_header {
  padding-left: 20px;
}
.offcanvas img {
  height: 40px;
  width: 43px;
}

.offcanvas ul {
  list-style: none;
  text-align: left;
}

.offcanvas ul li {
  margin-top: 20px;
  /* margin-bottom: ; */
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 4rem;
}

.btn_close {
  background-color: #89a3dc;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 1px solid #89a3dc;
}

.btn_close img {
  height: 20px;
  width: 20px;
}
