nav {
  background-color: transparent;
  position: absolute;
  right: 0;
  padding: 20px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.menu_navbar {
  display: flex;
  justify-content: space-between;
}

.menu_navbar p {
  font-size: 1.4rem;
  font-weight: 500;
  margin-right: 50px;
  color: #fff;
  display: none;
}

.menu_navbar a {
  font-size: 1.4rem;
  font-weight: 500;
  margin-right: 50px;
  color: #fff;
  display: none;
}

.logo {
  display: inline-block;
  margin-bottom: 0;
}
.logo .small-logo {
  width: 40px;
  height: 40px;
}

.logo .large-logo {
  width: 253px;
  height: 46px;
  display: none;
}

.burger-menu {
  display: inline-block;
  justify-self: flex-end;
  width: 15px;
  height: 20px;
  /* margin-left: 10px; */
  background-image: url("../../assets/Icons/burguer-menu.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.offcanvas {
  background-color: #2f52a0;
  padding: 20px;
}

.modal-backdrop.show {
  background-color: #17284f;
  opacity: 1;
}

.offcanvas_header {
  padding-left: 20px;
}
.offcanvas img {
  height: 40px;
  width: 43px;
}

.offcanvas ul {
  list-style: none;
  text-align: left;
}

.offcanvas ul li {
  margin-top: 20px;
  /* margin-bottom: ; */
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 4rem;
}

.btn_close {
  background-color: #89a3dc;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 1px solid #89a3dc;
}

.btn_close img {
  height: 20px;
  width: 20px;
}

@media (min-width: 1024px) {
  nav {
    padding-right: 70px;
    padding-left: 63px;
    padding-top: 50px;
  }

  .logo .small-logo {
    display: none;
  }
  .logo .large-logo {
    display: block;
  }
  .menu_navbar {
    justify-content: space-between;
    max-width: 290px;
  }
  .menu_navbar p {
    display: block;
  }
  .menu_navbar a {
    display: block;
  }
}
