.slideshow_menu {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 200;
  width: 100%;
  height: 45px;
  background-color: #f3f6fc;
  padding-left: 20px;
  display: flex;
  align-items: center;
}

.slideshow_menu .active {
  border-bottom: blueviolet 2px solid;
}

.slideshow_menu a {
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: 500;
  color: #3552a6;
  margin-right: 67px;
}

.slideshow_main {
  /* padding: 0 auto; */
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.slideshow_main h2 {
  margin: 0px 0 30px 0;
  font-size: 2.6rem;
  font-weight: 400;
  color: #17284f;
}

.slideshow_main p {
  font-size: 1.4rem;
  font-weight: 400;
  color: #7f7f80;
  line-height: 2.4rem;
}

.slideshow_main p b {
  font-weight: bold;
}

.slideshow_yes_no {
  padding: 20px;
  /* width: 910px; */
}

.yesno_text {
  max-width: 640px;
}

.slideshow_yesno--image-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-self: center;
  margin-left: auto;
  /* max-width: 960px; */
}

.slideshow_yesno--image {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 20px;
  padding-left: 20px;
}

.slideshow_yesno--image img {
  width: 20px;
}

.slideshow_yesno--image h4 {
  font-size: 20px;
  font-weight: 500;
  color: #fff;
}

.slideshow_yesno--image-1 {
  background-image: url("../../assets/IMG/Black_car.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-width: 280px;
  height: 257px;
  margin: 5px;
}
.slideshow_yesno--image-2 {
  background-image: url("../../assets/IMG/Rain_car.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-width: 280px;
  height: 257px;
  margin: 5px;
}
.slideshow_yesno--image-3 {
  background-image: url("../../assets/IMG/VW_car.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-width: 280px;
  height: 257px;
  margin: 5px;
}
.slideshow_yesno--image-4 {
  background-image: url("../../assets/IMG/Red_car.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-width: 280px;
  height: 257px;
  margin: 5px;
}
.slideshow_yesno--image-5 {
  background-image: url("../../assets/IMG/Bluesky_car.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-width: 280px;
  height: 257px;
  margin: 5px;
}
.slideshow_yesno--image-6 {
  background-image: url("../../assets/IMG/Stop_car.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-width: 280px;
  height: 257px;
  margin: 5px;
}

.slideshow_hold--element-container {
  display: flex;
  flex-direction: column;
  padding-top: 37px;
  max-width: 900px;
}

.slideshow_hold--paragraph {
  margin-top: 0;
  margin-bottom: 60px;
  max-width: 435px;
}

.slideshow_hold--paragraph h2 {
  margin: 0 20px 0 20px;
}

.btn_hold {
  border: 2px solid #f3f6fc;
  background-color: #3552a6;
  border-radius: 5px;
  width: 118px;
  height: 33px;
  color: #ffffff;
  font-size: 1.4rem;
  margin: 30px 0 0 0;
}

.slideshow_hold--text-container {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
  max-width: 450px;
}

.slideshow_hold-image {
  box-sizing: content-box;
  background-image: url("../../assets/IMG/Red02_car.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  min-width: 320px;
  min-height: 257px;
  margin-bottom: 60px;
}

@media (min-width: 1024px) {
  .slideshow_yes_no {
    /* padding: 20px; */
    max-width: 910px;
  }
  .yesno_text {
    padding-left: 20px;
    width: 640px;
  }

  .slideshow_yesno--image-container {
    margin-top: 70px;
  }

  .slideshow_menu {
    padding-left: 100px;
  }

  .slideshow_hold--element-container {
    flex-direction: row;
    justify-self: center;
  }

  .slideshow_hold-image {
    width: 412px;
    height: 320px;
  }

  .reverse {
    flex-direction: row-reverse;
  }
}

@media (min-width: 1440px) {
  .slideshow_menu {
    padding-left: 300px;
  }

  .slideshow_yes_no {
    /* padding: 20px; */
    width: 1020px;
  }

  .slideshow_yesno--image {
    max-width: 328px;
  }
}
